body {
  background-color: rgb(240, 195, 202); 
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  margin-top: 80px;
}
#modify {
  background-color: #f9f0e6; 
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px rgb(216, 112, 169);
  margin-top: 5%;
}
.container {
  margin-bottom: 20px;
}
input {
  padding: 10px;
  width: 200px;
  border-radius: 7px;
}
button {
  padding: 10px 15px;
  margin-left: 5px;
  cursor: pointer;
  background-color: red;
  border-radius: 7px;
} 
button:hover{
    background-color: rgb(99, 99, 248);
    color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #f2f2f2;
  margin: 5px auto;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.completed {
  text-decoration: line-through;
  color: rgb(209, 23, 23);
}
.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.delete-btn:hover {
  background-color:blue ;
}